<% if alert.present? %>
  <div class="notification is-danger">
    <%= alert %>
  </div>
<% end %>
<h1 class="title">Login</h1>
<%= form_tag session_path do |form| %>
  <div class="field">
    <input name="email" class="input" type="email" placeholder="Email">
  </div>
  <div class="field">
    <input name="password" class="input" type="password" placeholder="Password">
  </div>
  <div class="actions">
    <%= submit_tag "Login", class:'button is-info' %>
  </div>
<% end %>

<%# Code above from https://medium.com/@wintermeyer/authentication-from-scratch-with-rails-5-2-92d8676f6836 %>
<%# First line allows webpage to be correct size on mobile devices %>