<meta name="viewport" content="width=device-width, initial-scale=1">
<%= link_to "Sign Up", signup_path %> or 
<%= link_to "Log In", login_path %>
<p id="notice"><%= notice %></p> <%# To show if a user is logged in %>
<h1>E-Voting using DRE-ip</h1>
<%# First line allows webpage to be correct size on mobile devices %>