<h1>Editing Wellformednessverification</h1>

<%= render 'form', wellformednessverification: @wellformednessverification %>

<%= link_to 'Show', @wellformednessverification %> |
<%= link_to 'Back', wellformednessverifications_path %>
