<% if @vote.new_record? %>
<h1 class="title">Voting Stage 1</h1>
<% end %>
<% if current_user %>  
<div class="block"><%= render 'form', vote: @vote %></div>
<div class="block"><%= link_to 'Bulletin Board', votes_path, class:'button is-info' %></div>
<% else %> 
    <%= link_to "Sign Up", signup_path, class:'button is-info' %> or 
    <%= link_to "Log In", login_path, class:'button is-info' %>
<% end %>