<h1 class="title">New Vote</h1>
<% if current_user %>  
    <%= render 'form', vote: @vote %>
    <%= link_to 'Bulletin Board', votes_path, class:'button is-info' %>
<% else %> 
    <%= link_to "Sign Up", signup_path, class:'button is-info' %> or 
    <%= link_to "Log In", login_path, class:'button is-info' %>
<% end %>